:root{
    --bg-color: #141414;
    --text-color: rgb(192, 192, 192);
    /* Spacing variables */
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-xx: 40px;
    --space-xxl: 48px;

    /* Font size variables */
    --font-sm: 14px;
    --font-md: 18px;
    --font-lg: 24px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
    padding: var(--space-xx);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    /* grid-template-rows: 2; */
}
.game-score{
    display: flex;
    justify-content: space-between;
    /* padding: var(--space-xx); */
    font-size: var(--font-md);
}
.score{
    border: 2px solid var(--text-color);
    border-radius: var(--space-sm);
    padding: var(--space-sm) var(--space-md);
}
.game-area{
    flex-grow: 1;
    border: 2px solid var(--text-color);
    /* display: flex; */
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32px,1fr));
  grid-template-rows: repeat(auto-fill, minmax(32px,1fr));
  /* gap: 10px; */
    /* grid-template-columns: 22;
    grid-template-rows: 22; */
    /* border-radius: var(--space-sm); */
    overflow: hidden;
    flex-wrap: wrap;
    
}
.box{
    /* flex-wrap: nowrap; */
    flex-shrink: 0;
    height: 32px;
    width: 32px;
    /* border: 1px solid var(--text-color); */
    font-size: 8px;
}
.food{
    background-color: rgb(191, 0, 35);
}
.snake{
    background-color: limegreen;
}
.aboveall{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.256);
    backdrop-filter: blur(8px);

}
.over-lay{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;

    /* z-index: 22; */
    /* color: aliceblue; */
}
#start:hover , #restart:hover{
    cursor: pointer;

}